.container{
    /* border: 1px solid grey; */
    display: flex;
    
}

.img-cont{
    border: 1px solid #808080;
    width: 40%;
    margin: 10px 35px 10px 0;
    position: sticky;
    top: 15px;
    height: 480px;

}
.det-cont{
    margin: 10px 0;
    /* flex-grow: 1;  // keep space */
}
.line{
    background: grey;
    width: 100%;
    height: 1px;
}

table tr, table td { border: none; }

.span{
    font-weight: 600;
}

button{
    border-radius: 10px;
    background: rgb(61, 61, 180);
    color: white;
    border: none;
    padding: 6px;
}
